<section class="products-index">
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  <div style="margin-left:30%; margin-bottom:-30px;">
  <lottie-player src="https://assets7.lottiefiles.com/private_files/lf30_j4v2bg0q.json"  background="transparent"  speed="1"  style="width: 500px; height: 500px;"  loop  autoplay></lottie-player>
  </div>
  <header class="page-header">
    <div class="intro text-center text-black">
       <h1>Welcome to the Jungle!</h1>
       <p>A simple user friendly website where you can buy plants and build a jungle of your own. 
        Easy to order, and has a variety of items so that we can help save the world.
       </p>
      <br>
    </div>
  </header>
</section>